.toggle-btn{
  width: 40px;
  height: 20px;
  margin: 5px;
  border-radius: 25px;
  display: inline-block;
  position: relative;
  background : url('/assets/x.png') no-repeat 25px center #e74c3c;
  cursor: pointer;
  -webkit-transition: background-color .40s ease-in-out;
  -moz-transition: background-color .40s ease-in-out;
  -o-transition: background-color .40s ease-in-out;
  transition: background-color .40s ease-in-out;
  cursor:pointer;

  &.active{
    background : url('/assets/checkbox.png') no-repeat 5px center #2ecc71;
    .round-btn{
      left: 22.5px;
    }
  }

  .round-btn{
    width: 15px;
    height: 15px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 2.5px;
    top: 50%;
    margin-top: -7.5px;
    -webkit-transition: all .30s ease-in-out;
  -moz-transition: all .30s ease-in-out;
  -o-transition: all .30s ease-in-out;
  transition: all .30s ease-in-out;
  }
  .cb-value{
    position: absolute;
    left:0;
    right:0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 9;
    cursor:pointer;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}
