  <!-- to render an html page from another use the render tag -->
  <!-- <%= render 'layouts/toolbar' %> -->
<div class="marginadjust">
  <h1> Welcome to the Website Home Page </h1>
  <h2> Go to home.scss and turn on the @import statements to see the effects of the hidden css </h2>

  <!-- MapMarker -->
  <div class='pin'></div>
  <div class='pulse'></div>

  <!--Opacity -->
  <div class="pulsate">I can fade in and out</div>

  <div class="confirm_selection" style="overflow-x: hidden; overflow-y: hidden; opacity: 1; ">[ Hover Over me to give me a shadow ]</div>

  <!-- PlaceholderShrink  -->
  <div class="field">
    <label class="field__label" for="input-email">Email address</label>
    <input class="field__input one-column-form__input--text col-6" id="input-email" type="email" placeholder="Email address">
  </div>

</div>
