EuroRoman {
  font-family: 'EuroRoman';
  src: font-url('EuroRoman.ttf'),
       font-url('EuroRomanOblique.ttf');
}

/* $defaultfontfamily: Garamond, serif !important
If you plan to use this font make sure to remove the comment on the application.html.erb page in the app->assets-> views-> layouts folder*/

$defaultfontfamily: EuroRoman, serif !important;
$defaultfontsize: 16px !important;
$defaultfontweight: normal;

div, h1, h2, h3, h4, h5, a, table, th, tr, td, input, em, label, body, html {
  font-family: $defaultfontfamily;
  font-weight: $defaultfontweight;
}

div, h3, a, table, th, tr, td, input, em, label, body, html{
  font-size: $defaultfontsize;
}

h1 {
  font-size: 28px !important;
}

h2 {
  font-size: 24px !important;
}

.tabledefault{
  padding-right: 10px;
  text-align: center;
}

.margin10topleftbottom{
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}

#icon {
  width: 50px;
  height: auto;
  z-index: 1;
}

// if the span contains an id with the word nav in it
span [id*="nav"]{
  display:block;
}

.floatleft{
  float: left;
}

ul,ol,li #nobullet{
  list-style: none;
  padding: 0;
  overflow: hidden;
}

span{
  display: inline-block;
  position: relative;
}

.navpadding{
  padding-right: 5px;
}


.flipper{
  opacity: .5;
}

.flipper:hover{
  transform: rotateY(30deg);
  opacity: 1;
}

.prehide{
  opacity: 0;
}
